<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Head Fragment -->
    <div th:fragment="head-fragment(title)" th:remove="tag">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}"></title>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" th:href="@{/css/global.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/studyverseIcon.png}">
        <script th:src="@{/js/jquery3.6.3.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </div>
    <title>Partials</title>

</head>
<body>

<!--Navbar Fragment-->
<nav th:fragment="navbar(user)" id="main-navbar" class="navbar navbar-expand-lg w-100">
    <div class="container-fluid">

        <!-- Links on Left -->
        <div class="navbar-collapse collapse w-100 order-1 order-lg-0
             collapse-portion">
            <ul class="navbar-nav me-auto" sec:authorize="isAuthenticated()" >
                <li class="nav-item">
                    <a th:href="@{/dashboard}" class="nav-link" >Home</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" th:href="@{/study-cards}">Study</a>-->
                <!--                </li>-->
                <!--                COMMENTING OUT THE STUDY TAB FOR PRESENTATION           -->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" th:href="@{/self-test}">Test</a>-->
                <!--                </li>-->
                <!--                COMMENTING OUT THE STUDY TAB FOR PRESENTATION           -->

                <!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/books}">Books</a>
                </li>
            </ul>
        </div>

        <!-- Left Name Link -->
        <div class=" mx-auto order-0">
            <a class="navbar-brand me-2" th:href="@{/}">StudyVERSE</a>
            <button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".collapse-portion">
                <span class="navbar-toggler-icon" id="collapse-btn">
                    <i class="bi bi-list"></i>
                </span>
            </button>
        </div>

        <!-- Links on Right -->
        <div class="navbar-collapse collapse w-100 order-3 collapse-portion">
            <ul class="navbar-nav ms-auto" id="searchUL">
                <form class="d-flex" id="site-bar-search"  th:method="get">
                    <input class="search-bar me-2" type="search" placeholder="Search Or Ask Wiki!" aria-label="Search" id="searchForCards">
                    <a id="site-bar-search-link" role="button" class="nav-link">Search</a>
                </form>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Signup</a>
                </li>
                <!--Profile-->

                <li id="profile-dropdown" sec:authorize="isAuthenticated()">
                    <div class="dropstart">
                        <a type="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <div class="user-profile-logo">
                                <img class="user-profile-badge" th:if="${user != null && user.getProfilePic() != null}" th:src="${user.getProfilePic()}">
                                <img class="user-profile-badge" th:unless="${user != null && user.getProfilePic() != null}" th:src="@{/img/studyverseIcon.png}">
                            </div>
                        </a>
                        <ul class="dropdown-menu profile-dropdown-menu">
                            <li> <form id="logoutForm" th:action="@{/logout}" method="post">
                            </form><a href="#" onclick="document.getElementById('logoutForm').submit();">Log Out</a></li>
                        </ul>
                    </div>
                </li>
                <!--End of profile-->

            </ul>
        </div>
    </div>
</nav>

<!--Footer Fragment-->
<footer th:fragment="footer-fragment" id="footer" class="container footer-container mt-5">
    <div class="row footer-row">
        <div class="col-lg-4 col-sm-12">
            <a class="about-footer" th:href="@{/about-us}">About</a>
        </div>
        <div class="copyright col-lg-4 col-sm-12">
            <span class="copyright-text">&#169; 2022 StudyVERSE Industries</span>
        </div>
    </div>
</footer>

<!--Scripts Fragment-->
<div th:fragment="scripts" th:remove="tag">
    <!-- Bootstrap JS Bundle with Popper -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script th:src="@{/js/sitebar.js}"></script>
</div>

</body>
</html>