body{
    background-image: url("/img/pillarsOfCreatino.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-align: center;
    color: lightskyblue;
}
.developers-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
}

.card-inner{
    width: 45vh;
    height: 50vh;
    align-self: center;
    overflow-y: hidden;
    margin: 0 10vh 2vw 2vw;
}

.card-front{
    height: fit-content;

}

.card-back{
    display: none;
}
/*large screen */
@media only screen and (min-width: 600px) and (max-width: 2000px) {
    .developers-container{
        margin-bottom: 10vh;
        flex-direction: row;
    }
}

