body{
    background-image: url("../img/pillarsOfCreatino.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-align: center;
    color: lightskyblue;
    text-shadow: -1px 1px 3px #ffffff;
}
.whole-page{
    overflow-y: scroll;
    display: flex;
}
.developers-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
    justify-content: space-evenly;
    align-items: center;

}

.card-inner{
    width: 45vh;
    height: 50vh;
    align-self: center;
    overflow-y: hidden;
    justify-content: center;
}


.img-wrapper{
    height: 44vh;
}
.card-front{
    height: fit-content;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    position: relative;
    backface-visibility: hidden;
    transition: transform 0.7s ease-in-out;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px -2px #000000;
    overflow-wrap: break-word;
    background-color: ghostwhite;
}

.card-back{
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
    transition: transform 0.7s ease-in-out;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px -2px #00000061;
    overflow-wrap: break-word;
}

.card-front.flipCard{
    transform: rotateY(0deg);
}
/*flip card comment */
.card-front,
.card-back.flipCard{
    transform: rotateY(180deg);
}

.flipCard{
    transform: rotateY(180deg);
}
/*large screen */
@media only screen and (min-width: 1360px) and (max-width: 30000px) {

    .whole-page{
        height: 100vh;
        width: 100%;
        display: flex;
        overflow-y: unset;
    }
    .developers-container{
        margin-bottom: 10vh;
        flex-direction: row;
    }
    .card-inner{
        width: 35vh;
        height: 48vh;
    }

    .img-wrapper{
        height: 43vh;
    }
}




/* ===== bootstrap css ===== */

body{
    background-image: url("../img/pillarsOfCreatino.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}
.single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    background-color: #3f43fd;
    overflow: hidden;
}
.single_advisor_profile .advisor_thumb::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.img{
    vertical-align: middle;
    max-width: 22vw;
    height: 45vh;
    position: relative;
    left: -5vw;
}

@media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}
.single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}
.single_advisor_profile .advisor_thumb .social-info a {
    font-size: 14px;
    color: #020710;
    padding: 0 5px;
}
.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
    color: #3f43fd;
}
.single_advisor_profile .advisor_thumb .social-info a:last-child {
    padding-right: 0;
}
.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}
.single_advisor_profile .single_advisor_details_info::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: #3f43fd;
    content: "";
    top: 12px;
    right: 30px;
}
.single_advisor_profile .single_advisor_details_info h6 {
    margin-bottom: 0.25rem;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 14px;
    }
}
.single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info p {
        font-size: 12px;
    }
}
.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: #070a57;
}
.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}
.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
    color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: #070a57;
}
.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
    background-color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
    color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
    color: #ffffff;
}
