body{
    background-image: url("/img/pillarsOfCreatino.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-align: center;
    color: lightskyblue;
}

.card-colum{
    text-align: center;
}

.card{
    height: 20rem;
    width: 20rem;
    overflow-y: hidden;
}

.card-body{
    display: none;
}

.picture{
    object-fit: cover;
}