body{
    background-color: rgb(45 0 69);
}

#card-set-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    text-align: center;
}
.card-sets{
    position: relative;
}

.svg {
    position: absolute;
    top:5px;
    right:5px;
}

.display-none{
    display: none;
}
.card-sets svg:hover {
    color: rgb(250 110 255);
}
.card-title{
    color: rgb(250 110 255);
}
.card-sets{
    margin: 1rem;
    height: 184px;
    width: 334px;
    background-color: #18021b;
}


/*Modal*/
.card-modal {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*This centers the whole modal*/
.card-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*End of Modal*/