@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    background: whitesmoke;
}
button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: whitesmoke;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
header{background-color: #fff;}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0 20px;
    background: #fff;
}
#header button{
    font-family: inherit;
    border: 1px solid red;
}
#create_card{
    /*display: none;*/
    width: 370px;
    padding: 20px;
    margin: 10px auto auto;
    background: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9);
}
#create_card h2{
    color: black;
    text-align: center;
}
#create_card textarea{
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgray;
    resize: none;
}
#create_card button{width: fit-content;}
#flashcards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto auto;
    padding: 0 10px;
}
.edit-set-flashcard{
    display: flex;
    width: 370px;
    margin: 10px;
    background-color:#4d1a53;
    color: white;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9);
    position: relative;
}
.edit-set-flashcard .cardButtonsWrapper {
    display:none;
    background-color:#2f1046;
    flex-direction: column;
    justify-content: space-evenly;
}
.edit-set-flashcard .cardTextWrapper {
    width: 100%;

}
.edit-set-flashcard .card-buttons {
    height: 100%;
    width: 58px;
}
.edit-set-flashcard .card-buttons:hover {
    color: rgb(250 110 255);
}
.cardTextWrapper p{
    overflow-wrap: break-word;
}
/* Vertical card display*/
.vertical-display{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width:100%;
}
@media(max-width:1280px){
    .container{width: 100%;}
}
@media(max-width:768px){
    .flashcard{margin: auto;}

    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media(max-width:480px){
    #header{
        padding: 20px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    #create_card{width: 95%;}

    .flashcard{width: 100%;}

}
