*{
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.page-wrapper {
	background-color: rgb(45, 0, 69);
}

.navbar, .container-fluid, .mx-auto, .navbar-brand, .navbar-toggler, .bi, .navbar-collapse {
	background-color: #2d0045;
}

.navbar-brand{
	font-weight: bold;
	font-size: 16pt;
	color: antiquewhite;
}

.nav-link {
	color: antiquewhite;

}

#footer, .d-flex, .about-footer, .contact-footer, .ms-auto{
	padding: 0.8rem;
	background-color: #2d0045;
}

.nav-item {
	display: flex;
	align-items: center;
}

