*{
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

#site-bar-search-link {
	align-self: center;
}

#searchUL {
	padding: 0;
}
.search-bar{
	outline: none;
	border: none;
	background-color: #4d1a53;
	color: white;
	border-radius: 50px;
	padding-left: 30px;
	font-size: 18px;
}


.page-wrapper {
	background-color: #2d0045;
}

.navbar, .container-fluid, .mx-auto, .navbar-brand, .navbar-toggler, .bi, .navbar-collapse {
	background-color: #2d0045;
}

.navbar-brand{
	font-weight: bold;
	font-size: 16pt;
	color: #FFFFFF;
}

.nav-link {
	color: #FFFFFF;

}

#footer, .d-flex, .about-footer, .contact-footer, .ms-auto{
	padding: 0.8rem;
	background-color: #2d0045;
	color: white;
}

#footer {
	position: fixed;
	bottom: 0;
}

.nav-item {
	display: flex;
	align-items: center;
}

.container{
	max-width: none!important;
	margin-left: 0!important;
	margin-right: 0!important;
}

/*medium screen*/
@media screen and (max-width: 992px){
	.about-footer, .contact-footer, .ms-auto {
		padding: 0;
		color: white;
	}
	.bi-search{
		visibility: visible;
	}

	.search-bar{

	}

}

