@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-image: url("../img/space-background.png");
}

.heading {
    color: rgb(250 110 255);
}

.title {
    font-weight: 400;
    letter-spacing: 1.5px;
}

.container {
    height: 600px;
    width: 500px;
    background-color: #18021b;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
}

.btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 30px rgb(240 188 254);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.form-section {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0;
}

.signup-box {
    height: fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.signup-box {
    gap: 25px;
}
.signup-box h2 {
    color: #766CC6;
    text-shadow: -2px 1px 3px whitesmoke;}
.input-design {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    background-color: #E8F0FE;
    color: black;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}

.sign-up-button {
    height: 60px;
    width: 150px;
    border-radius: 22px;
    background-color: #766CC6;
    box-shadow: -1px 2px 14px ghostwhite;
    color: black;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

/* For Responsiveness of the page */

@media screen and (max-width: 650px) {
    .container {
        height: 600px;
        width: 300px;
    }

    .title {
        font-size: 15px;
    }

    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }

    .signup {
        font-size: 19px;
    }


    .form-section {
        height: 500px;
        width: 600px;
    }


    .signup-box {
        height: 100%;
        width: 300px;
    }

    .input-design {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }

    .sign-up-button {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}

@media screen and (max-width: 320px) {

    .container {
        height: 600px;
        width: 250px;
    }

    .heading {
        font-size: 30px;
    }

    .title {
        font-size: 10px;
    }

    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }

    .signup {
        font-size: 19px;
    }

    .form-section {
        height: 500px;
        width: 500px;
    }

    .signup-box {
        height: 100%;
        width: 250px;
    }

    .input-design {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }

    .sign-up-button {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}