.page-wrapper.splash-page-wrapper{
	background-color: rgba(45, 0, 69);
	align-items: center;
	justify-content: center;
	width: 100%;
}

.image.splash-page-logo{
	width: 100%;
	position: absolute;
}

.SPHeading{
	font-size: 2.75rem;
	letter-spacing: normal;
	line-height: 1.28;
	position: absolute;
}