.SPContainer {
	display: flex;
	flex-direction: column;
	padding: 0;
	background-image: url("/img/dorm-studying.jpeg"),linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42));
	background-blend-mode: color;
	flex-grow: 1;
	background-size: cover;
	background-position: center center;
	justify-content: center;

}
.container{
	max-width: none!important;
	margin-left: 0!important;
	margin-right: 0!important;
}
.column {
	display: flex;
	flex-direction: column;
}
.SPContainer, .column, .container-pitch {
	justify-content: center;
	align-items: center;


}

.page-wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-wrapper.splash-page-wrapper{
	/*background-color: rgba(45, 0, 69);*/
	align-items: center;
	justify-content: center;
	width: 100%;
}

.image.splash-page-logo{
	width: 100%;
	position: absolute;
}

.SPHeading1{
	width: 523px;
	height: 65px;
	font-style: normal;
	font-weight: 300;
	font-size: 54px;
	line-height: 65px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.SPHeading2 {
	width: 593px;
	height: 113px;
	font-style: normal;
	font-weight: 600;
	font-size: 93px;
	line-height: 113px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.container-pitch{
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}

@media (max-width: 600px){
	.SPContainer{
		display: flex;
		flex-direction: column;
		padding: 0;
		background-image: url("/img/dorm-studying.jpeg"),linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42));
		background-blend-mode: color;
		flex-grow: 1;
		object-fit: scale-down;
		max-width: 100%;

	}
}