body{
    background-color: ghostwhite;
}
.feature-buttons{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    width: 100px;
    border-radius: 14px;
    font-family: inherit;

    color: white;
}
#play-all{
    background-color: #acacdb;
}
#stop-play-all{
    display: none;
    background-color: #ae0303;
}
.feature-buttons:hover{
    background-color:#64316a;
}
/*Container where html is being inserted via API*/
#study-header{
    background-color: ghostwhite;
    color: #2f1046;
    display: flex;
    margin: 3vh 0 .4vw .4vw;
}

#study-header button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: inherit;
    background-color: #767CC7;
    color: white;
}
#study-header button:hover{
    background-color:#64316a;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 81vh;
}
.study-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0 10px;
}
.frontOrBack{
    position: absolute;
    top:0;
    left: 0;
}
/*Flashcard to house front and back face*/
.flashcard{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background:#fff;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9);
    position: relative;
    padding: .2rem;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This is for the flip animation*/
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flashcard:hover .card-inner{
    transform: rotateY(180deg);
}
#carouselWrapper{
    position: relative;
    display: flex;
    width: 90%;
    justify-content: center;

}
#carouselWrapper .carouselButtons {
    position: absolute;
    top: 50%;
}
#carouselWrapper .prev {
    color: #4d1a53;
    right: 85%
}
#carouselWrapper .next {
    color: #4d1a53;
    left: 85%
}
.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
}
.carousel-flashcard {
    width: 670px;
    height: 410px;
    perspective: 1000px;
    scroll-snap-align: start;
    text-align: center;
}
.carousel-flashcard .carousel-front-face{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.7s ease-in-out;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px -2px #000000;
    overflow-wrap: break-word;
    background-color: ghostwhite;
}
.carousel-flashcard .carousel-back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.7s ease-in-out;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80) ),url(/img/flashcard.jpeg);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px -2px #00000061;
    overflow-wrap: break-word;
}
.carousel-flashcard .carousel-front-face {
    transform: rotateY(0deg);
}
.carousel-flashcard .carousel-back-face {
    transform: rotateY(180deg);
}
.carousel-flashcard .soundSVG {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
}
.carousel-flashcard .soundSVG:hover,#carouselWrapper .prev:hover, #carouselWrapper .next:hover  {
    color: #acacdb;
    cursor: pointer;
}
.carousel-flashcard.flipped .carousel-front-face {
    transform: rotateY(180deg);
}
.carousel-flashcard.flipped .carousel-back-face {
    transform: rotateY(0deg);
}
.carousel-flashcard.active {
    display: flex;
    flex-direction: row;
}
.carousel-flashcard:not(.active) {
    display: none;
}
.carousel-flashcard .carousel-front-face .cardText,
.carousel-flashcard .carousel-back-face .cardText {
    word-break: break-word;
    width: 70%;
    font-size: 1.2rem;
}
.content-wrapper{
    width: 100%;
    overflow-x: hidden;
}
#cardCounter {
    position: absolute;
    top: 0;
}
.features-wrapper {
    margin-top: 8px;
}


/*Media query for large screens*/
@media (min-width: 700px) and (max-width : 2000px){

    .carousel-flashcard {
        width: 70vw;
        height: 50vh;
        perspective: 1000px;
        scroll-snap-align: start;
        text-align: center;

    }
    #carouselWrapper{
        width: fit-content;
    }

    .carousel-flashcard .carousel-front-face{
        word-break: break-word;
        width: 100%;
        font-size: 1.2rem;
    }
    .carousel-flashcard .carousel-back-face  {
        word-break: break-word;
        width: 100%;
        font-size: 1.2rem;
    }

}
@media (max-width: 672px ){
    .carousel-flashcard{
        width: 630px;
    }
}
@media (max-width: 645px ){
    .carousel-flashcard{
        width: 602px;
    }
}
@media (max-width: 606px ){
    .carousel-flashcard{
        width: 570px;
    }
}
@media (max-width: 573px ){
    .carousel-flashcard{
        width: 533px;
    }
}
@media (max-width: 537px ){
    .carousel-flashcard{
        width: 502px;
    }
}
@media (max-width: 505px ){
    .carousel-flashcard{
        width: 465px;
    }
}