<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <div th:replace="partials/partials :: head-fragment('About Us')"></div>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>
<!--Nav Bar-->
<div class="page-wrapper splash-page-wrapper">
  <nav th:replace="partials/partials :: navbar"></nav>
</div>
<!--End of Nav Bar-->

<div class="row mx-3">
  <div class="col-6 col-lg-3">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/img/rodrigo.jpeg" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text">Solution-focused, versatile professional is offering a diverse background supporting U.S. military operations in roles of increasing responsibility during a nine-year career as a military leader as well as experience in personal fitness and group fitness tracking. Effective communicator and inventive thinker who quickly masters new roles and technologies to achieve positive results and accomplish goals while increasing efficiency and improving team cohesion.</p>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top"  alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/img/nft_me.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text">Accomplished, committed, and dedicated bilingual US Army veteran with over 5 years of leadership and customer service experience. The desire to learn, broaden, and employ skills used in a community that promotes growth and development is why I'm excited to enter the technology industry as a web-developer.</p>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
           src="/img/fernando.PNG" height="862" width="868" data-holder-rendered="true">

      <div class="card-body">
        <p class="card-text">Professional Software Developer and Marine Corps Veteran with project management, leadership, training development, and process improvement skills. Merging military experience with full-stack skill to develop innovative technology, I am able to bridge the gap between consumer and business by improving website functionality to bolster the consumer's ability to access needed information.</p>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="/img/Josh_profile.png" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text">Software developer with prior military experience in Food Service and Human Resources. My career transition stems from self-taught programming experience building simple websites and the drive to program computer games.</p>
      </div>
    </div>
  </div>
</div>

<footer th:replace="partials/partials :: footer-fragment"></footer>
<script th:src="@{js/main.js}"></script>
<div th:replace="partials/partials :: scripts"></div>

</body>
</html>