<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <div th:replace="partials/partials :: head-fragment('About Us')"></div>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>
<!--Nav Bar-->
<div class="page-wrapper splash-page-wrapper">
  <nav th:replace="partials/partials :: navbar"></nav>
</div>
<!--End of Nav Bar-->
<div id="welcome-create-header">
  <h3>Welcome: <span th:text="${#authentication.principal.username}"></span></h3>
  <button id="create-set-button">Create New Set</button>
</div>







<footer th:replace="partials/partials :: footer-fragment"></footer>
<script th:src="@{js/main.js}"></script>
<script th:src="@{js/books.js}"></script>
<div th:replace="partials/partials :: scripts"></div>

</body>
</html>