<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Splash Page')"></div>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="../static/css/splashpage.css">
</head>
<body>
<fieldset class="middleForm">
    <nav th:replace="partials/partials.html :: navbar"></nav>

    <form class="formMiddle" th:action="@{/create}" th:method="post" th:object="${card}">
        <label for="frontFace">FrontFace:</label>
        <input type="text" id="frontFace" name="frontFace" th:field="*{frontFace}">
        <label for="backFace">Back Face:</label>
        <input type="text" id="backFace" name="backFace" th:field="*{backFace}">
        <input type="submit" value="submit">
    </form>
</fieldset>


</body>
</html>