<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Create a card')"></div>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" th:href="@{/css/splashpage.css}">
    <link rel="stylesheet" th:href="@{/css/flashcard.css}">
</head>
<body>
<!--nav bar-->
<nav th:replace="partials/partials.html :: navbar"></nav>


<main>

    <header>
        <div class="container">
            <div id="header">
                <h1>Flashcards</h1>
                <div>
                    <button id="show_card_box">Add Card</button>
                    <button id="delete_cards">Del Cards</button>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div id="create_card">

                <h2>Create Flashcard</h2>
                <form class="formMiddle" th:action="@{/card-create/{id}(id = ${cardSet.id})}" th:method="POST" th:object="${card}">
                    <label for="frontFace">Question</label>
                    <input type="text" id="frontFace" name="frontFace" th:field="*{frontFace}">
                    <br>
                    <label for="backFace">Answer</label>
                    <input type="text" id="backFace" name="backFace" th:field="*{backFace}">
                    <div>
                        <input id="save_card" type="submit" value="submit">
                    </div>
                </form>
                <button id="close_card_box">Close</button>

            </div>
        </div>
    </section>



    <div th:each="cards: ${cardList}">
        <div class="cardItem">
            <p th:text="${cards.getFrontFace()}"></p>
            <p th:text="${cards.getBackFace()}"></p>
        </div>
    </div>


    <section>
        <div class="container">
            <div id="flashcards"></div>
        </div>
    </section>

</main>




<footer th:replace="partials/partials :: footer-fragment"></footer>
<div th:replace="partials/partials :: scripts"></div>

</body>
</html>
