<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Splash Page')"></div>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <div class="page-wrapper splash-page-wrapper">
        <nav th:replace="partials/partials :: navbar"></nav>
    </div>

   <div id="card-set-wrapper" th:each="cardSet: ${cardSetList}">
       <div>
       <h1 th:text="${cardSet.getTitle()}"></h1>
       <h2 th:text="${cardSet.getTag()}"></h2>
       </div>
   </div>



    <footer th:replace="partials/partials :: footer-fragment"></footer>
    <div th:replace="partials/partials :: scripts"></div>
</body>
</html>