<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Welcome</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/login.css}">-->
<!--    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>-->
<!--    <script th:src="@{/js/main.js}"></script>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; container div &ndash;&gt;-->
<!--<div class="container">-->

<!--    &lt;!&ndash; upper button section to select-->
<!--         the login or signup form &ndash;&gt;-->
<!--    <div class="slider"></div>-->
<!--    <div class="btn">-->
<!--        <button class="login">Login</button>-->
<!--        <button class="signup">Signup</button>-->
<!--    </div>-->

<!--    &lt;!&ndash; Form section that contains the-->
<!--         login and the signup form &ndash;&gt;-->
<!--    <div class="form-section">-->
<!--        &lt;!&ndash; login form &ndash;&gt;-->
<!--        <form th:action="@{/login}" th:method="post">-->
<!--        <div class="login-box">-->
<!--            <h1 class="heading">StudyVERSE</h1>-->
<!--            <div th:if="${param.error}" class="invalidText">-->
<!--                Invalid Username and Password-->
<!--            </div>-->

<!--            <h2>Log In</h2>-->
<!--            <input type="email" class="email ele" placeholder="Email">-->
<!--            <input type="password" class="password ele" placeholder="Password">-->
<!--            <button class="clkbtn" type="submit">Login</button>-->
<!--        </div>-->
<!--        </form>-->

<!--    &lt;!&ndash; signup form &ndash;&gt;-->
<!--        <form th:action="@{/register}" th:method="POST" th:object="${user}">-->
<!--        <div class="signup-box">-->
<!--            <h1 class="heading">StudyVERSE</h1>-->
<!--            <h2>Register</h2>-->
<!--            <input type="text" class="username ele" placeholder="Create a Username" th:field="*{username}">-->
<!--            <input type="email" class="email ele" placeholder="Enter your Email" th:field="*{email}">-->
<!--            <input type="password" class="password ele" placeholder="Create a Password" th:field="*{password}">-->
<!--            <button class="clkbtn" type="submit">Signup</button>-->
<!--        </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--<script th:src="@{js/jquery-3.6.1.min.js}"></script>-->
<!--<script th:src="@{js/main.js}"></script>-->
<!--</body>-->
<!--</html>-->