<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<h1>login</h1>
<div class="container">
    <div class="form-section">
<!--         Form section that contains the-->
<!--         login form -->
        <form th:action="@{/login}" th:method="post">
            <div class="login-box">
                <h1 class="heading">StudyVERSE</h1>
                <div th:if="${param.error}" class="invalidText">
                    Invalid Username and Password
                </div>

                <h2>Log In</h2>
                <input type="username" class="email ele" placeholder="Username">
                <input type="password" class="password ele" placeholder="Password">
                <button class="clkbtn" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>