<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <div th:replace="partials/partials :: head-fragment(' Profile')"></div>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/profile.css">

</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<h1>Your Profile</h1>
<section style="background-color: #eee;">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
               class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3"> <span th:text="${#authentication.principal.username}"></span> </h5>
          <p class="text-muted mb-1">Full Stack Developer</p>
          <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
          <span class="time" th:text="${#dates.format(#dates.createNow(), 'hh:mm a')}"></span>
          <span class="login-date" th:text="${#dates.format(#dates.createNow(), 'MM/dd/yyyy')}"></span>
          <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary">Follow</button>
            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <i class="fas fa-globe fa-lg text-warning"></i>
              <p class="mb-0">https://mdbootstrap.com</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <i class="fab fa-github fa-lg" style="color: #333333;"></i>
              <p class="mb-0">mdbootstrap</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
              <p class="mb-0">@mdbootstrap</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
              <p class="mb-0">mdbootstrap</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
              <p class="mb-0">mdbootstrap</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--      Beginning of user info-->
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Username: <span th:text="${#authentication.principal.username}"/></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email: </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><span th:text="${#authentication.principal.email}"/></p>
            </div>
          </div>
          <button class="edit-user-info btn-primary" id="edit-profile-button">Update</button>
          <!--            End of info on table-->
        </div>
      </div>
    </div>

    <!--      Beginning of edit modal-->
    <div class="profile-edit-modal display-none">
      <div class="profile-edit-content">
        <form th:action="@{/profile/edit}" method="post" th:object="${user}"></form>
        <div class="edit-info-popup display-hidden">
          <h5>Edit info</h5>
            <input type="text" name="edit-username" class="changed-username" th:value="${user.getUsername()}">
            <br>
            <input type="text" name="edit-email" class="changed-email" th:value="${user.getEmail()}">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
<!--        <button class="edit-user-info-btn" id="edit-profile-button" data-toggle="modal" data-target="profile-edit-modal" type="submit">Update</button>-->
      </div>
    </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
              </p>
              <p class="mb-1" style="font-size: .77rem;">Web Design</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
              <div class="progress rounded mb-2" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
              </p>
              <p class="mb-1" style="font-size: .77rem;">Web Design</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
              <div class="progress rounded mb-2" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer th:replace="partials/partials :: footer-fragment"></footer>

<script th:src="@{js/main.js}"></script>

<div th:replace="partials/partials :: scripts"></div>

</body>
</html>

<!-- Need to refactor-->