<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials/partials :: head-fragment(' Profile')"></div>
    <link th:rel="stylesheet" th:href="@{/css/profile.css}">


</head>
<body>
<nav th:replace="partials/partials :: navbar(user=${user})"></nav>
<h1>Profile</h1>


<h1>Your Profile</h1>
<section style="background-color: #eee;">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
               class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3"> <span th:text="${#authentication.principal.username}"></span> </h5>
          <p class="text-muted mb-1">Full Stack Developer</p>
          <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
          <span class="time" th:text="${#dates.format(#dates.createNow(), 'hh:mm a')}"></span>
          <span class="login-date" th:text="${#dates.format(#dates.createNow(), 'MM/dd/yyyy')}"></span>
          <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary">Follow</button>
            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
          </div>
        </div>
      </div>
    </div>
    <!--      Beginning of user info-->
    <div class="col-lg-8 user-info">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <form th:method="Post" th:action="@{/profile}" th:object="${user}">
                <div class="row">
                  <div class="col-sm-9">
                    <p class="mb-0">Username</p>
                    <input class="mb-0" name="username" th:field="*{username}">
                  </div>
                  <hr>
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                    <div class="col-sm-9">
                      <input class="text-muted mb-0" name="email" th:field="*{email}">
                      <input type="hidden" name="id" th:field="*{id}">
                    </div>
                  </div>
                </div>
              </form>

              <!--    Second try: editing user info-->
              <div class="edit-user-info-btn">
                <button class="user-info-btn" type="button">Edit</button>
                <button class="user-submit-btn">Submit</button>
              </div>
            </div>
            <hr>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
        </div>

    </div>

  </div>
  </div>
  <!--              end of editing user info-->
  </div>
  </div>
  <!--            End of info on table-->
  </div>
  </div>
  </div>



</section>

<div id="MiddleCalendar">
  <div id="container" sec:authorize="isAuthenticated()">
    <input type="hidden" th:user-id="${#authentication.principal.id}" id="user-id">
    <div id="header">
      <div id="monthDisplay"></div>
      <div>
        <button id="backButton">Back</button>
        <button id="nextButton">Next</button>
      </div>
    </div>

    <div id="weekdays">
      <div>Sunday</div>
      <div>Monday</div>
      <div>Tuesday</div>
      <div>Wednesday</div>
      <div>Thursday</div>
      <div>Friday</div>
      <div>Saturday</div>
    </div>

    <div id="calendar"></div>
  </div>

  <div id="newEventModal">
    <h2>New Event</h2>

    <input id="eventTitleInput" placeholder="Event Title" />

    <button id="saveButton">Save</button>
    <button id="cancelButton">Cancel</button>
  </div>

  <div id="deleteEventModal">
    <h2>Event</h2>

    <p id="eventText"></p>

    <button id="deleteButton">Delete</button>
    <button id="closeButton">Close</button>
  </div>

  <div id="modalBackDrop"></div>

  <footer th:replace="partials/partials :: footer-fragment"></footer>
  <script th:src="@{/js/profile.js}"></script>

  <script th:src="@{js/main.js}"></script>

  <div th:replace="partials/partials :: scripts"></div>
</div>

</body>
</html>