<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="partials/partials :: head-fragment('About Us')"></div>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/register.css}">
  <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
</head>
<body>

  <div class="container">
      <form class="form-section" th:action="@{/register}" th:method="POST" th:object="${user}">
        <div class="signup-box">
          <h1 class="heading"><a class="studyverseLogin" th:href="@{/}">StudyVERSE</a></h1>
          <h2>Register</h2>
          <input type="text" class="username input-design" placeholder="Create a Username" th:field="*{username}">
          <input type="email" class="email input-design" placeholder="Enter your Email" th:field="*{email}">
          <input type="password" class="password input-design" placeholder="Create a Password" th:field="*{password}">
          <button class="sign-up-button" type="submit">Signup</button>
          <a th:href="@{/login}">Log In</a>
        </div>
    </form>
  </div>
</body>
</html>