<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Books')"></div>
    <link rel="stylesheet" href="/css/books.css">
    <script src="/js/books.js"></script>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/partials :: navbar"></nav>
</div>
<div class="container">
    <div id="title" class="center">
        <h1 id="header" class="text-center mt-5">Book Finder</h1>
        <div class="row">
            <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
                <input id="search-box" type="text" class="form-control" placeholder="Search Books!...">
                <button id="search" class="btn btn-primary" onclick="">Search</button>
            </div>
        </div>
    </div>


    <div class="book-list" >
        <h2 class="text-center">Search Result</h2>
        <div id="list-output" class="">
            <div class="row">
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/partials :: footer-fragment"></footer>
<div th:replace="partials/partials :: scripts"></div>

<script th:src="@{js/jquery-3.6.1.min.js}"></script>
<script th:src="@{js/main.js}"></script>
<script th:src="@{/js/sitebar.js}"></script>

</body>
</html>