<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Books')"></div>
    <link rel="stylesheet" href="/css/books.css">
    <script src="/js/books.js"></script>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/partials :: navbar(user=${user})"></nav>
</div>

<!--Jumbotron-->
<div class="container-fluid my-4 bg-light rounded-3 py-4 px-0 " id="main-heading" style="background-image: url('/img/booksbanner.webp'); height: 346px" >
    <h1 class="display-2 text-center bg-light bg-opacity-75 my-5">Search for a Book</h1>

    <div class="search-container-book">
        <div class="row">
            <div id="input" class="input-group col-lg-6 col-md-8 col-sm-12">
                <input id="search-box" type="text" class="form-control" placeholder="Search Books!...">
                <button id="search" class="btn btn-primary hideCardsbutton" onclick="">Search</button>
            </div>
        </div>

    </div>

<!--jumbotron ^-->


    <!--Cards-->
    <div class="card-group mt-5 hideCards">
        <div class="card">
            <img class="card-img-top" src="/img/lightbook.jpg" alt="Card image cap" style="height: 20rem">
            <div class="card-body">
                <h5 class="card-title">Search for a book!</h5>
                <p class="card-text">Look up over thousands of books</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/img/previewbook.jpg" alt="Card image cap" style="height: 20rem">
            <div class="card-body">
                <h5 class="card-title">Look at previews of the book</h5>
                <p class="card-text">Just type in the search box and you can start looking for the book</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/img/bookstore.webp" alt="Card image cap" style="height: 20rem">
            <div class="card-body">
                <h5 class="card-title">Find where you can buy them</h5>
                <p class="card-text">You can also see where you can get a hard copy of the book</p>
            </div>
        </div>
    </div>





    <div class="book-list" >
        <h2 class="text-center bg-light bg-opacity-75 my-5">Search Result</h2>
        <div id="list-output" class="">
            <div class="row">
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/partials :: scripts"></div>
<footer id="fixedFooter" th:replace="partials/partials :: footer-fragment"></footer>
<script th:src="@{js/main.js}"></script>
<script th:src="@{/js/sitebar.js}"></script>

</body>
</html>