<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Test')"></div>
    <link rel="stylesheet" href="/css/global.css">
    <meta charset="UTF-8">
    <title>Self Test</title>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<footer th:replace="partials/partials :: footer-fragment"></footer>
<div th:replace="partials/partials :: scripts"></div>

<script th:src="@{js/jquery-3.6.1.min.js}"></script>
<script th:src="@{js/main.js}"></script>
<script th:src="@{/js/sitebar.js}"></script>
</body>
</html>