<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Splash Page')"></div>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/splashpage.css">
</head>
<body>
    <div class="page-wrapper splash-page-wrapper">
        <nav th:replace="partials/partials :: navbar"></nav>
         <!--Intro message-->
        <div class="container SPContainer" >
            <div class="row">
                <div class="column">
                        <p class="SPHeading1">YOUR NUMBER ONE</p>
                        <p class="SPHeading2">STUDY SPOT</p>
                </div>
            </div>
        </div>
        <footer th:replace="partials/partials :: footer-fragment"></footer>
        <div th:replace="partials/partials :: scripts"></div>
    </div>
</body>
</html>