<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Splash Page')"></div>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/splashpage.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav id="fixedNav" th:replace="partials/partials :: navbar(user=${user})"></nav>



    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/img/peopleStudying.jpeg" alt="Welcome">
                <div class="carousel-caption">
                    <h1>Welcome</h1>
                    <h3>To Your Number 1 Study Spot</h3>
                    <a th:href="@{/register}"  id="btn-color1" class="btn btn-lg active" role="button" aria-pressed="true">Join Now!</a>

                </div>
            </div>

            <div class="item">
                <img src="/img/peopleStudying.jpeg" alt="Chania">
                <div class="carousel-caption">
                    <h1>Flash Cards</h1>
                    <h3>Create card sets to help you study along the way</h3>
                    <a th:href="@{/register}"  id="btn-color2" class="btn btn-lg active" role="button" aria-pressed="true">Join Now!</a>

                </div>
            </div>

            <div class="item">
                <img src="/img/lightbook.jpg" alt="Flower">
                <div class="carousel-caption">
                    <h1>Use Our Resources</h1>
                    <h3>You can use our books and search option to help you along the way.</h3>
                    <a th:href="@{/register}" id="btn-color3" class="btn btn-lg active" role="button" aria-pressed="true">Join Now!</a>

                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>




    <div id="infoWeb">
    <div id="band" class="container text-center">
        <h3>StudyVerse</h3>
        <p><em>A place to love studying!</em></p>
        <p>We have created StudyVerse. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br>
    </div>
    </div>


    <!--Cards-->
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/img/dorm-studying.jpeg" alt="Card image cap" style="height: 25rem">
            <div class="card-body">
                <h5 class="card-title">Search for a book!</h5>
                <p class="card-text">Look up over thousands of books</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/img/shutterstock_372270265.jpeg" alt="Card image cap" style="height: 25rem">
            <div class="card-body">
                <h5 class="card-title">Look at previews of the book</h5>
                <p class="card-text">Just type in the search box and you can start looking for the book</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/img/studyverseIcon.png" alt="Card image cap" style="height: 25rem">
            <div class="card-body">
                <h5 class="card-title">Find where you can buy them</h5>
                <p class="card-text">You can also see where you can get a hard copy of the book</p>
            </div>
        </div>
    </div>

<br><br><br>

    <!--Intro message-->
<!--    <div class="container SPContainer" >-->
<!--        <div class="row">-->
<!--            <div class="column">-->
<!--                <p class="SPHeading1">YOUR NUMBER ONE</p>-->
<!--                <p class="SPHeading2">STUDY SPOT</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div th:replace="partials/partials :: scripts"></div>
        <footer id="fixedFooter" th:replace="partials/partials :: footer-fragment"></footer>

</body>

</html>