<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Study')"></div>
    <link th:rel="stylesheet" th:href="@{/css/global.css}">
    <link th:rel="stylesheet" th:href="@{/static/css/study.css}">
    <title>Study</title>
</head>
<body>
<div class="page-wrapper splash-page-wrapper">
    <nav th:replace="partials/partials :: navbar"></nav>
</div>
<h2>cards go here</h2>

<div id="study-card-container"></div>



<footer th:replace="partials/partials :: footer-fragment"></footer>
<div th:replace="partials/partials :: scripts"></div>
<script th:src="@{/js/study.js}"></script>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/sitebar.js}"></script>
</body>
</html>