<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head-fragment('Study')"></div>
    <link th:rel="stylesheet" th:href="@{/css/study.css}">
    <title>Study</title>
</head>
<body>
    <div class="page-wrapper splash-page-wrapper">
        <nav th:replace="partials/partials :: navbar"></nav>
    </div>

    <div id="carouselWrapper">
        <div th:each="card: ${eachCard}" class="carousel">
            <div class="carousel-flashcard">
                <div class="carousel-front-face">
                    <th:block th:text="${card.getFrontFace()}"></th:block>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="soundSVG bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                        </svg>
                    </div>
                </div>
                <div class="carousel-back-face">
                    <th:block th:text="${card.getBackFace()}"></th:block>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="soundSVG bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                        </svg>
                    </div>
                    <!--End of Play Svg-->
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="carouselButtons prev bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="carouselButtons next bi-arrow-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
    </div>

    <footer th:replace="partials/partials :: footer-fragment"></footer>
    <div th:replace="partials/partials :: scripts"></div>
    <script th:src="@{/js/jquery3.6.3.js}"></script>
    <script th:src="@{/js/study.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/sitebar.js}"></script>
    <script th:src="@{/js/textToSpeech.js}"></script>
</body>
</html>